/* Tailwind directives at the top of your CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  background-color: beige;
  margin: auto;
  width: 80%;
}

button {
  width: 100%;
  margin: auto;
  background-color: bisque;
}